body{
    font-size: 20px;
    background-color: aliceblue;
}

fieldset{
    background-color: gainsboro;
}

#RegisterButton, #ResetButton{
    background-color: gold;
    font-size: large;
    margin-top: 10px;
}